In [5]:
import pandas as pd
import numpy as np

datapath = 'states_data.tsv'  #put your path here/Donor_Data.csv'

#Read the donor data into a dataframe using comma as the separator.

df = pd.read_csv(datapath, sep='\t')
df.shape

(55, 5)

In [6]:
df.head()

  Data of the States State Abbrev. Postal Abbrev. Area (Sq Mi) Population*
0            Alabama          Ala.             AL       52,423   4,040,587
1             Alaska        Alaska             AK      656,424     550,043
2            Arizona         Ariz.             AZ      114,006   3,665,228
3           Arkansas          Ark.             AR       53,182   2,350,725
4         California        Calif.             CA      163,707  29,769,021

In [7]:
df.describe()

,Data of the States,State Abbrev.,Postal Abbrev.,Area (Sq Mi),Population*
count,53,51,51,52,52
unique,53,51,51,52,52
top,Alabama,Ala.,AL,"52,423","4,040,587"
freq,1,1,1,1,1